body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 48px); 
}

.textarea-container {
    position: relative;
    border-radius: 20px; 
    border: 1px solid #ccc; 
    overflow: hidden; 
    display: flex;
    justify-items: right;
}

#chatBubbleUser {
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    max-width: 60%;
    word-wrap: break-word;
    align-self: flex-end; 
    text-align: right; 
}
#chatBubbleAi {
    background-color: #3bad3b;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    max-width: 60%;
    word-wrap: break-word;
    align-self: flex-start; 
    text-align: right; 
}

#inputText {
    width: 100%;
    height: 100px; 
    align-content: center;
    padding: 5%;
    border-radius: 20px; 
    border: none; 
    padding-right: 60px; 
    box-sizing: border-box; 
}

#sendButton {
    position: absolute;
    right: 10px; 
    bottom: 10px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chat-history {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.chat-history::-webkit-scrollbar {
    display: none;
}

.menu {
    background-color: #333;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.left, .right {
    padding: 5px;
    box-sizing: border-box;
}

.left {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input-container {
    text-align: center;
    background-color: #2e2e2e; 
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    height: 90%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.input-container input {
    padding: 10px;
    margin: 0px;
    width: 90%;
    box-sizing: border-box;
    background-color: #3e3e3e;
    border: none;
    color: #fff;
}

.input-container button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #45a049;
}

.right {
    flex: 1 1 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 100%;
}

.content-section {
    background-color: #2e2e2e; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#history {
    position: relative;
}

#historyList {
    list-style-type: none;
}

.clear-history {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.clear-history:hover {
    background-color: #ff0000;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        order: 1;
        flex: 1 1 100%;
    }

    .right {
        order: 2;
        flex: 1 1 100%;
    }

    #map {
        height: 300px; 
    }
} 

